---
name: Pull request build

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Lint and test project
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install node 22
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: npm

      - name: Install project modules
        run: npm ci

      - name: Lint source files
        run: npm run lint

      - name: Run unit tests
        run: npm test
