---
name: Stage

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  stage:
    runs-on: ubuntu-latest
    environment: staging
    name: Stage the project
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm

      - name: Setup Python 3.12
        uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.12"

      - name: Cache pip repository
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}

      - name: Prepare python environment
        run: pip install -r requirements.txt

      - name: Build site
        run: mkdocs build

      - name: Install project modules
        run: npm ci

      - name: Lint source files
        run: npm run lint

      - name: Run unit tests and verify code coverage
        run: npm test
